/* 

* {
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
} */




a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* styles/global.css */

/* Hide vertical scrollbar */
body::-webkit-scrollbar {
  width: 0.5rem; /* Set the width of the scrollbar if you want to show it on hover */
}

body::-webkit-scrollbar-track {
  background: transparent; /* Set the background color of the scrollbar track */
}

body::-webkit-scrollbar-thumb {
  background-color: transparent; /* Set the color of the scrollbar thumb */
}

/* Hide horizontal scrollbar (optional) */
body::-webkit-scrollbar-horizontal {
  height: 0.5rem; /* Set the height of the scrollbar if you want to show it on hover */
}

body::-webkit-scrollbar-thumb:horizontal {
  background-color: transparent; /* Set the color of the horizontal scrollbar thumb */
}


