@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.fullScreenContainer {


  width: 100vw;


/* border: 1px solid red; */
}
.badgeIcon {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
z-index: 10000000000000000 !important;
border-radius: 50%;
background-color: var(--mui-palette-background-paper);
 border: 2px solid var(--mui-palette-background-paper) !important;


/* border: 1px solid red; */
}

.searchSummoner {
  height: 200px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.searchSummonerMenu {
  border-radius: 5px;
  position: absolute;
  left:51.65%;
  width: 200px !important;
  padding-right: 0px !important;

  top:51%;
z-index: 99999999999999999999 !important;
}
.searchSummonerMenuItem {
height:25px;
margin-left: 8px;
border-radius: 5px;

font-family: 'Space Grotesk' !important;
font-size: 0.775rem; 
font-weight: bold;

/* border:1px solid red;       */
display: flex;

flex-direction: column;
line-height: 1em;
align-items: center;
z-index: 99999999999999999999 !important;
}



.parentContainer {
position: absolute;
  height: 100vh;
  width: 100%;
 /* Center both horizontally and vertically */
  top: 0%; /* Vertically position the element */
  /* other styles */
  overflow-y: scroll;
  /* border: 1px solid red; */
  background-color: var(--mui-palette-primary-error);
}
.parentContainerContent {
  position: absolute;
  height: 100vh;
  width: 1035px;
  z-index: 10 !important;

  left: 50%; /* Horizontally center the element */
  transform: translate(-50%, -50%); /* Center both horizontally and vertically */
  top:60%; /* Vertically position the element */
  /* other styles */

  /* border: 1px solid red; */
}

.appBarStyle {

  overflow:none;
}

.searchBarInput {
  font-family: 'Space Grotesk' !important;
  font-size: 0.875rem;       
}
.searchBarStyle {
       padding-left: 4.8px;
      
        position: relative;
        /* background-color: rgba(243, 246, 249,0.8); */
        color: rgb(67, 77, 91);
        font-size: 0.875rem;
        /* border: 1px solid rgba(218, 226, 237,0.8); */
        border-radius: 10px;
        cursor: pointer !important;
        transition-property: all;
        transition-duration: 150ms;
        width: 160px;
        margin: 0;
}
.searchBarStyle:hover {

        background-color: rgba(0, 0, 0,0.03);

}
.blurGradient {
  height: 12rem;
  width: 50%;

background-image: linear-gradient(to bottom right,#f65c5c38,rgba(139,92,246,0));
--tw-gradient-from: #8b5cf6;
--tw-gradient-stops: #8b5cf6,rgba(139,92,246,0);
--tw-gradient-to: #c084fc;
--tw-blur: blur(106px);
filter: blur(100px) ;

}
.blurGradient2 {
  position: absolute;
  height: 10rem;
  width: 50%;
  bottom: 0px;
  right:0;

background-image: linear-gradient(to bottom right,#5cbef638,rgba(139,92,246,0));
--tw-gradient-from: #8b5cf6;
--tw-gradient-stops: #8b5cf6,rgba(139,92,246,0);
--tw-gradient-to: #c084fc;
--tw-blur: blur(106px);
filter: blur(100px) ;

}

.searchBarCommand {
  position: absolute;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 20px;
  margin-right: 5px;
  right:0;
  /* border: 1px solid rgb(218, 226, 237); */
  /* background-color: rgb(255, 255, 255); */
  padding: 4px 8px;
  border-radius: 7px;
}


.leagueV4Container {
  position: absolute;
  /* border:1px solid red; */
  display: block;
top:40%;
  left: 0px;

  margin: 0 auto; /* Center horizontally */
}


.summonerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

}

  .SideMenu {
    display: none; 
    position: fixed;
    z-index: 99999999999999990000000000 !important;
    height: 100%;
    width: 15%;
    top: 0;
    border-radius: 0px;
    right: 0px;
  }
  
  .SideMenuContainer {
    width: 100%;
    height: 100%;
    top: 0;
    left: 1px;
    
    margin-top: 0;
    padding-top: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  }
  
.summonerChipsContainer {
  /* border:1px solid red; */

margin-top: 35px;
}
.summonerChips {
  /* border:1px solid red; */
  border-radius: 5px;
  font-size: 0.5em;
  font-family: 'Space Grotesk' !important;
  font-weight: 500;
margin-right:5px;
  height:20px;
}
.smallIcon {
  /* border:1px solid red; */
  border-radius: 5px;
  font-size: 1.5em;

}

  .claimAccountWrapper {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-top: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
  }
  
  .claimAccountContainer {
    width: 20%;
    height: 40%;
    top: 50%; /* Center the container vertically */
    left: 50%; /* Center the container horizontally */
    margin-bottom: 0px;
    border-radius: 6px;
    padding-top: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    transform: translate(-50%, -50%); /* Center the container perfectly */
  }
  
  .claimAccountPicture {
    border-radius: 10px;
    margin-bottom: 25px;
    border: 2px solid #414165;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }
  .claimAccountText {
    padding:10px;
    text-align: center;
    font-size: 0.6em;
    font-weight: 600;
    margin-bottom: 15px;
  }

  /* Add spacing between child components */
  .SideMenuContainer > *:not(:last-child) {
    margin-bottom: 20px; /* Adjust the value to control the spacing */
  }
  
  
  


.username {

  font-family: 'Space Grotesk' !important;
  /* border:1px solid red; */
  font-size: 1.7em;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.usernameContainer {
  font-family: 'Space Grotesk' !important;
  position: absolute;
  left: 13.5%;
  top:18%;
  /* border:1px solid red; */
  display: flex;
  align-items: center;
  gap: 5px; 

}

.profileContainer { 

    /* border:1px solid red; */
    box-shadow: none !important;
  }
  
  .rankBox {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.5);
  }
  
  .rankImage {
    width: 100%;
    height: 100%;
  }
  
  .matchChampion {
    width: 50px;
  }

/* Summonerpage.module.css */

.hero {
  height: 100px;
  width: 100px;
  background: linear-gradient(to bottom, #f4f7ff 50%, #9e88d648 100%),
    url(https://grainy-gradients.vercel.app/noise.svg);
}


@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.profilePictureContainerSpin {

  position: absolute;

  animation: rotateAnimation 10s linear infinite; /* Adjust duration and timing function as needed */

  height: 136px;
  /* border: 1px solid red; */
}
.profilePictureContainerLeague {

  position: absolute;




  height: 96px;

}
.profilePictureContainerLeague2 {
  height: 136px;
}
.profilePictureContainerLeague3 {
position: absolute;
left:0;
  bottom: 0; /* Align to the bottom of the container */
  height: 136px;
  transform: rotateX(180deg);
}
/* Add a metal shiny border effect to the profile picture container */
.profilePictureContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 14%;

left:0px;
  width: 96px;
  height: 96px;
  border-radius: 50px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profilePicture {
  width: 90px;
  height: 90px;


  transition: border-color 0.3s ease-in-out;
}

/* Add the gradient border effect */
.profilePicture:hover {
  border: 2px solid;
  transition: border-color 0.3s ease-in-out;
  background-clip: padding-box;
}

/* Summonerpage.module.css */


/* Summonerpage.module.css */
.custom-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 22.5%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 1px;
  background-color: #f0f0f0; /* Set the background color of the divider */
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.1),
    0px 8px 8px rgba(0, 0, 0, 0.1), 0px 16px 16px rgba(0, 0, 0, 0.1); /* Add box shadow to create a neumorphic effect */
  margin: 16px 0; /* Add some margin to separate the divider from surrounding elements */
}

.DividerSummonerName {

  top: 19px; 
  left: 30px; 
  font-family: Inter; /* Body */
  font-size: 20px; 
  line-height: 20px; 
  font-weight: 725;
  color: #424955FF; 
}


.container {
  animation: orbitAnimation 5s linear infinite; /* Apply the animation */
  transform-origin: center center; /* Set the rotation axis to the center */
}



  
.SidemenuButton {
  font-family: 'Space Grotesk' !important;
}

.darkModeText {
  font-family: 'Space Grotesk' !important;
  font-size: 1em;
  text-transform: lowercase;
}






/* Container 6336 */
.ChampionStatsBox {
  position: relative; 
  margin-bottom: 10px;
  width: 315px;
padding-bottom: 75px;
  border-radius: 4px;
}

.ChampionStatsContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Add this line to center vertically */
  margin-bottom: 10px;
  top: 65px;
  margin: 0 auto; /* Center horizontally using margin */
  /* border: 1px solid red; */


}
.ChampionStatsQueueForm {
  position: absolute; 
  top: 19px; 
  
  z-index: 10 !important;
  right: 12.5px; 

}

.ChampionStatsQueueForm2 {
  border: none !important;
  outline: none !important;
}
.ShowAllButton {
margin-top:10px;
font-size: 0.8em;
font-family: 'Space Grotesk';
}
.ChampionStatsQueueFormSelect {

font-family: 'Space Grotesk';
width: 100px;
height: 25px !important;
border-radius: 3px;

}

.customInputLabel {
  color: white;
  
  outline: none !important;
  border: none !important;
}

.highKDA {
  color: #f8b664;
  font-weight: bold;
}

.mediumKDA {
  color: #3174fa;
  font-weight: bold;
}

.lowKDA {
  color: #ff4e50;
  font-weight: bold;
}


.ChampionStatsSorting {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; /* Add this line to center vertically */
  margin-bottom: 10px;
  top: 60px;

  /* border: 1px solid red; */


}
.ChampionStatsSortingIcon {
  position: relative;

left:15px;
margin-right: 10px;

font-family: 'Space Grotesk';


}
.ChampionStatsSortingText {
  position: relative;
font-size: 0.8em;
margin-left: 10px;
right: 0px;

font-family: 'Space Grotesk';


}
.ChampionStatsSortingBtn {
  position: relative;
font-size: 0.5em;
margin-left: 7px;
right: 0px;
height: 17.5px;

font-family: 'Space Grotesk';


}

.ChampionStatsContent {
  position: relative;
  width: 100%;
  height: 70px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
  border-top: 1px solid var(--mui-palette-background-paper);
  /* border: 1px solid red; */
}
.ChampionStatsContent2 {
  position: absolute;
  
  width: 90%;
  height: 52px;
  left:15px;
  top:8px;
/* border: 1px solid red; */
}
.ChampionStatsContent:hover {
/* border: 1px solid red; */
height: 70px;
opacity: 0.6 !important;
cursor: pointer !important;
}

.ChampionStatsImage {
  position: absolute;
top:0px;
  left:10px;
  clip-path: inset(4px); /* Trim 2px from all sides */
  border-radius: 20px;
}

.ChampionStatsName {
  position: absolute;
  top:22%;
  left:70px;
  font-family: 'Space Grotesk' !important;
font-size: 0.65em;
}
.ChampionStatsKDA {
  position: absolute;
  top:25%;
  left:45.3%;
  width: 60px;
  /* border: 1px solid red; */
  text-align: center;
  font-family: 'Space Grotesk' !important;
font-size: 0.6em;
font-weight: bold;

}
.ChampionStatsKDA2 {
  position: absolute;
  top:22%;
  left:45%;
  display: none;
  font-family: 'Space Grotesk' !important;
font-size: 0.6em;

}

.ChampionStatsPlayed {
  position: absolute;
  top:25%;
  left:80%;
  font-family: 'Space Grotesk' !important;
font-size: 0.6em;
}
.ChampionStatsWR {
  position: absolute;
  top:75%;
  left:45.3%;
  width: 60px;
  text-align: center;
  /* border: 1px solid red; */
  font-weight: bold;
  font-family: 'Space Grotesk' !important;
font-size: 0.6em;
}

/* Add these styles to your CSS file (Summonerpage.module.css) */

.ProgressBar {
  width: 70%;
  top:55%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 10000000;
  left:70px;
  height: 8px; /* Adjust the height as needed */
  background-color: var(--mui-palette-background-paper); /* Gray background for the progress bar */
  border-radius: 3px; /* Rounded corners */

  overflow: hidden; /* Hide overflow for the fluid effect */
  border: 1.5px solid var(--mui-palette-background-paper);
  padding: 1px;
}



.TrendingBarWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 3px;
}

.TrendingBar {
  width: 100%;
  height: 100%;
  border-radius: 3px;

  background: linear-gradient(90deg, #00c6ff, #ff6b6b);
}

.TrendingMask {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: var(--mui-palette-background-paper); /* your background color */
}

/* Animation for the trending effect */
@keyframes trending {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}







.leagueV4Box {
  position: relative; 
  margin-bottom: 10px;
  /* top:50px; */

  width: 315px; 
  height: 127px; 
  /* background: #FFFFFFFF;  */
  border-radius: 4px; 
  /* box-shadow: 0px 2px 5px #d9d9d9, 0px 1px 4px #d9d9d9;  */
}

.leagueV4BoxText {
  position: absolute; 
  top: 19px; 
  
  z-index: 10 !important;
  left: 30px; 
  font-family: 'Space Grotesk';
  font-size: 12px; 
  line-height: 20px; 
  font-weight: 725;
  color: #8353E2FF; /* secondary */
}

/* Image 2606 */
.LeagueV4RankImage {
  position: absolute; 
  top: 56px; 
  left: 30px; 
  width: 50px; 
  height: 50px; 
  border-radius: 4px; 
}

.LeagueV4Rank {
  position: absolute; 
  top: 58.571428571428555px; 
  left: 87px; 
  font-family: Inter; 
  font-size: 18px; 
  line-height: 28px; 
  /* color: #424955FF;  */
  font-weight: 600; 
}

.LeagueV4LP {
  position: absolute; 
  top: 82.38775510204084px; 
  left: 87px; 
  font-family: Inter; 
  font-size: 11px; 
  line-height: 18px; 
  /* color: #424955FF;  */
  font-weight: 400;
}

.LeagueV4WinLoss {
  position: relative; 
  top: 63.38775510204084px; 
  left: 190px; 
  width: 106px; 
  font-family: Inter; 
  font-size: 11px; 
  line-height: 18px; 
  /* border: 1px solid red; */
  /* color: #424955FF; */
  text-align: right; /* Add this property to align the text to the right */
}

/* Container 6336 */
.LeagueV4Unranked {
  position: relative; 
  /* top:50px; */
  width: 315px; 
  height: 58px; 
  /* background: #FAFAFBFF;  */
  border-radius: 4px; 
  margin-bottom: 10px;
  /* box-shadow: 0px 2px 5px #d9d9d9, 0px 1px 4px #d9d9d9;  */
}

.LeagueV4Title {
  position: absolute; 
  top: 20.357142857142833px; 
  left: 34px; 
  font-family: Inter; 
  font-size: 12px; 
  line-height: 20px; 
  font-weight: 725;
  color: #8353E2FF; 
}

.LeagueV4UnrankedText {
  position: absolute; 
  top: 20.357142857142833px; 
  left: 228px; 
  font-family: Inter; 
  font-size: 12px; 
  line-height: 20px; 
  font-weight: 600;
  /* color: #424955FF;  */
}

@media screen and (max-width: 1150px) {


  .parentContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 50%; /* Horizontally center the element */
    transform: translate(-50%, -50%); /* Center both horizontally and vertically */
    top: 60%; /* Vertically position the element */
    /* other styles */
    /* border: 1px solid red; */
  }
  .profileContainer { 
    position: relative;
    top: 45px;
    height: 150px;
    width: 100%;
    left:0px;
 /* border:1px solid red; */
    box-shadow: none !important;
  }

  .usernameContainer {
    font-family: 'Space Grotesk' !important;
    position: absolute;
    left: calc(15% + 20px);
    top:50%;
    transform: translate(0, -50%);
    /* border:1px solid red; */
    display: flex;
    align-items: center;
    gap: 5px; 
  
  }
    .leagueV4Box {
      position: relative; 
      margin-right: 10px;

    
      width: 43.7vw; 
      height: 127px; 
      /* background: #FFFFFFFF;  */
      border-radius: 6px; 
      /* box-shadow: 0px 2px 5px #d9d9d9, 0px 1px 4px #d9d9d9;  */
    }
    .leagueV4Container {
      position: relative;
      display: flex;
      flex-direction: row; /* Change to row */
 /* border:1px solid red; */
      width: 100vw;
      top: 75px;

      
      
      }
      .LeagueV4WinLoss {
        position: relative; 
        top: 63.38775510204084px; 
        left: 67.5%; 
        width: 10vw; 
        font-family: Inter; 
        font-size: 11px; 
        line-height: 18px; 
        /* border: 1px solid red; */
        /* color: #424955FF; */
        text-align: right; /* Add this property to align the text to the right */
      }
      .container {
        display: flex;
        flex-direction: column;
      
      }
      .container2 {
        display: flex;
        flex-direction: column;
      
      }
}
@media screen and (max-width: 710px) {
  .usernameContainer {
    font-family: 'Space Grotesk' !important;
    position: absolute;
    left: calc(15% + 50px);
    top:50%;
    transform: translate(0, -50%);
    /* border:1px solid red; */
    display: flex;
    align-items: center;
    gap: 5px; 
  
  }

  .leagueV4Box {
    position: relative; 
    margin-left: 10px;
    width: 80.2vw; 
    height: 127px; 
    border-radius: 6px; 
  }

  .leagueV4Container {
    position: relative;
    display: flex;
    flex-direction: column;/* Change to row */
    /* border:1px solid red; */
    width: 100vw;
    top: 75px;
    left: 0px;    
  }

  .LeagueV4WinLoss {
    position: relative; 
    top: 63.38775510204084px; 
    left: 62%; 
    width: 25vw; 
    font-family: Inter; 
    font-size: 11px; 
    line-height: 18px; 
    /* border: 1px solid red; */
    /* color: #424955FF; */
    text-align: right; /* Add this property to align the text to the right */
  }
}
